body {
    margin: 0;
    height: 100vh;
}

.editor-content {
    margin-top: 5px;
    width: 100%;
    height: 90%;
    display: flex;
}

.vertical-content {
    flex-direction: column;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
}

.split {
    width:100%;
    height:100%;
    padding: 0;
    border: 1px solid;
}

.gutter {
    cursor: e-resize;
    height: 100%;
    background: grey;
}

.gutter-vertical {
    cursor: s-resize;
    background: grey;
}

.template-area {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.template-tabs {
    flex: 0 1 auto;
}

.template-editor {
    flex: 1 1 auto;
    overflow-y: hidden;
}

.nav-link{
    color: rgb(114, 114, 114) !important;
}

.nav-link:focus {
    color: rgb(0, 0, 0) !important;
}

.nav-link:hover {
    color: rgb(0, 0, 0) !important;
}

.bg-dark .dropdown-menu {
    background: #343a40;
}

.bg-dark .nav-link {
    color: rgb(189, 189, 189) !important;
}

.bg-dark .nav-link:focus {
    color: #fff !important;
}

.bg-dark .nav-link:hover {
    color: #fff !important;
}

.bg-dark .dropdown-item, #navbar.bg-dark .dropdown-header, .bg-dark .nav-item {
    color: rgba(255, 255, 255, 1  ) !important;
}

.bg-dark .dropdown-item:hover {
    background: #212529;
}

.bg-dark .dropdown-item:focus{
    background: #212529;
}

.bg-dark .form-control {
    background: #212529 !important;
    color: #fff !important;
}

.bg-dark .close {
    color: #fff;
    text-shadow: none;
}

.underline {
    border-bottom: 1px solid #080;
}

.bg-dark .underline {
    border-bottom: 1px solid #0f0;
}

.unused-segment {
    border-bottom: 2px dotted #ff0000;
}

.banner-btn {
    display: unset;
    vertical-align: unset;
}

.CodeMirror {
    /* We force calculation on CodeMirror editor dimensions to
       ensure that they will fit their containers when resizing */

    /* Firefox */
    height: -moz-calc(100%);
    /* WebKit */
    height: -webkit-calc(100%);
    /* Opera */
    height: -o-calc(100%);
    /* Standard */
    height: calc(100%);

    /* Firefox */
    width: -moz-calc(100%);
    /* WebKit */
    width: -moz-calc(100%);
    /* Opera */
    width: -o-calc(100%);
    /* Standard */
    width: calc(100%);
}
  